/* Custom Styles */
/* Navbar */
.navbar-brand {
  font-weight: bold;
}

/* Header */
header {
  background-color: #f8f9fa;
}

/* Carousel */
.carousel-item img {
  height: 400px; /* Sesuaikan dengan ketinggian yang diinginkan */
  object-fit: cover; /* Pastikan gambar penuh di dalam carousel */
}

/* Three small photos with descriptions */
.col-md-4 img {
  margin-bottom: 10px; /* Berikan sedikit jarak antara gambar dan deskripsi */
}

/* Footer */
.footer {
  background-color: #343a40;
  color: #fff;
}

/* Optional: Tambahkan style untuk teks yang terletak di atas gambar pada carousel */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
}
